@font-face {
  font-family: 'AdventProSemiBold';
  src:url('AdventPro-SemiBold.ttf');}
@font-face {
  font-family: 'AdventProRegular';
  src:url('AdventPro-Regular.ttf');}

body {
  margin: 0;
  font-family: 'AdventProRegular';
}


header {
  height: 80px;
}
header img {
  float: left;
  height: 80px;
  margin-left: 200px;
}
header ul {
    list-style-type: none;
    float: right;
    margin: 25px 200px 0px 0px;
  }
header ul li {
    display: inline-block;
    margin: 0px 15px;
    text-transform: capitalize;
    font-weight: bold;
    color: #1C2C63;
  }
 header li:nth-child(3){
  color: #FFF;
  background-color: #23c0df;
  border: solid 1px #23c0df;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0px 2px 0px 0px #1C2C63;
  text-transform: uppercase;
}


.panel1 {
  background-image: url('bgpanel1.3.jpg');
  background-size: cover;
  height: 400px;
  text-align: center;
}
.title h1 {
  color: #23c0df;
  text-transform: capitalize;
  font-size: 4em;
  margin: 0;
  padding-top: 55px;
}
.title h2 {
  color: #fff;
  font-size: 2.5em;
  width: 850px;
  margin: auto;
}
span {
  font-family: 'AdventProSemiBold';
  text-transform: capitalize;
}
.btnfree {
  background-color: #fff;
  color: #23c0df;
  border: solid 2px #23c0df;
  border-radius: 5px;
  height: 45px;
  padding: 0px 35px;
  margin-right: 35px;
  margin-top: 45px;
}
.btnprice {
  background-color: #fff;
  color: #afac9a;
  border: solid 2px #afac9a;
  border-radius: 5px;
  height: 45px;
  padding: 0px 35px;
  margin-left: 35px;
  margin-top: 45px;
}

.panel2 {
  background-color: #006687;
  height: 600px;
  margin: 0;
}
.panel2 span {
  color: #23c0df;
}

.panel2 h2 {
  font-size: 1.5em;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 10px;
}
.txt h3 {
  margin: 0;
}
.txt {
  text-transform: uppercase;
  color: #23c0df;
  font-weight: bold;
  font-size: 1.5em;
  height: 75px;
  text-align: left;
  margin-left: 170px;
}

.txt div {
  display: inline-block;
  padding: 0;
  margin: 5px;
}

.txt .icon img {
  position: relative;
  top: 15px;
}

.left {
  text-align: left;
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.account {
  border: solid 2px #23c0df;
  border-radius: 25px;
  background-color: #fff;
  height: 500px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.account h3 {
  text-transform: capitalize;
  color: #1C2C63;
  font-size: 2em;
  margin: 15px 0px 0px 0px;
}

.pass {
  float: left;
  margin-left: 16px;
}

.confirm {
  float: right;
  margin-right: 16px;
}

.acc {
  margin: 25px 0px;
}

.right .account ul {
  font-weight: bold;
  position: relative;
  top: 35px;
  right: 20px;
}
.account li {
  list-style-type: none;
  text-transform: uppercase;
  clear: both;
  line-height: 50px;
  font-size: 1.5em;
  margin: 5px 0px;
  color: #777;
}
.account li:nth-child(1){
  color: #FFF;
  background-color: #23c0df;
  border: solid 1px #23c0df;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0px 4px 0px 0px #1C2C63;
  text-transform: uppercase;
}
.account li:nth-child(3){
  color: #FFF;
  background-color: #cdcdcd;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 5px 15px;
  text-transform: uppercase;
}

.panel3 {
  height: 400px;
  background-color: #23c0df;
  margin: 0;
}
.sspanel {
  float: left;
  text-align: center;
  width: 33%;
  margin: 125px 0 0;
}
.sspanel img {
  border: solid 3px #1C2C63;
  color: #1C2C63;
  padding: 60px;
  border-radius: 20%;
  position: relative;
  bottom: 25px;
}
.sspanel dl {
  width: 80%;
  margin: 75px auto 10px;
}
.sspanel dt{
  color: #1C2C63;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
}
.sspanel dd {
  color: #FFF;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
.sspanel a {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
  color: #1C2C63;
}


.panel4 {
  height: 400px;
  background-color: #fff;
}
.panel4 img {
  border: solid 4px #23C0DF;
  background-color: #fff;
  border-radius: 50%;
  padding: 50px 25px;
}
.panel4 .txt {
  height: 150px;
  width: 850px;
  border: solid 4px #23C0DF;
  margin: auto;
  margin-top: 50px;
  padding: 30px 30px 45px 30px;
  font-size: 1.85em;
  color: #777;
  text-transform: none;
}
.arrow {
  background-color: #23C0DF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
}
.user .arrow p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
}

.user .arrow:first-child{
  position: relative;
  top: 42px;
  left: 70px;
}
.user .arrow:nth-child(3){
  position: relative;
  left: 325px;
  bottom: 85px;
}
.user {
  position: relative;
  bottom: 115px;
  width: 33%;
  margin: auto;
}
.user:last-child {
  font-size: 1.8em;
  font-weight: bold;
  color: #777;
  text-align: center;
}
.user:last-child p:last-child {
  position: relative;
  bottom: 50px;
}
.user:last-child a {
  color: #006687;
}


.panel5 {
  height: 300px;
  text-align: center;
  background-color: #cdcdcd;
  color: #fff;
  margin: 0;
}
.panel5 .title h2 {
  color: #fff;
  font-size: 2em;
  width: 850px;
  margin: auto;
  position: relative;
  top: 50px;
}
.btnp5 {
  color: #FFF;
  background-color: #006687;
  border: solid 2px #076082;
  border-radius: 50px;
  padding: 20px 60px;
  box-shadow: 0px 4px 0px 0px #1C2C63;
  text-transform: uppercase;
  margin-top: 100px;
}

footer {
  height: 60px;
}
footer img {
  height: 50px;
  float: left;
  margin-left: 400px;
}
footer ul {
    list-style-type: none;
    text-align: center;
    padding-top: 15px;
    margin-right: 375px;
  }
footer ul li {
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    font-weight: bold;
    color: #006687;
  }
  footer li:last-child{
   color: #777;
 }
